<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome to GigZoo !</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <style>
      /* .mail-content{
        padding: 30px;
        background: #f8f8f8;
      } */
      p,
      div,
      ul,
      li,
      a,
      address,
      span {
        color: #002d4b;
      }
      img {
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <div class="mail-content">
      <div class="container">
        <p>Welcome to GigZoo!</p>
        <p>
          Thank you for registering! We are launching in a few weeks and we will
          be in touch then.
        </p>
        <p>In the meantime, here is some more information on GigZoo:</p>

        <ul>
          <li>
            Our mission is simple. We want to put you in control and help you
            get more gigs.
          </li>
          <li>
            Our technology cuts out the expensive middle men. No more agents. On
            GigZoo you transact directly, instantly and securely. Think of us as
            the AirBnB for talent!
          </li>
        </ul>

        <div class="why-use">
          <p>Why use GigZoo?</p>
          <img
            src="https://i.ibb.co/G2zK3tY/why-use1.png"
            alt="why-use1"
            style="width: 550px;"
          />
          <img
            src="https://i.ibb.co/16L8nSN/why-use-2.png"
            alt="why-use-2"
            style="width: 550px"
          />
        </div>

        <div>
          <address>
            Got questions or suggestions? Get in touch over Social Media or
            email
            <a href="mailto:customersupport@gigzoo.co.uk"
              >customersupport@gigzoo.co.uk</a
            >
          </address>
        </div>

        <p>We cant wait to have you on board!</p>
        <p>The GigZoo Team</p>
      </div>
    </div>
  </body>
</html>
