.users {
  padding: 24px;
  background: #fff; }
  .users .btn_submit {
    width: 150px;
    margin: 0 auto; }

#avatar {
  width: 180px;
  margin: 15px auto;
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  #avatar a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-size: 42px;
    text-align: center;
    bottom: 0;
    align-items: center;
    /* line-height: 142px; */
    text-align: center;
    cursor: pointer;
    display: none;
    background: rgba(62, 60, 60, 0.55);
    color: #fff; }
    #avatar a i {
      margin: 0 auto; }
  #avatar img {
    width: 100%;
    margin: 0; }

.col_action {
  text-align: right; }

.fag-create {
  padding: 30px;
  background: #fff; }
  .fag-create .btn_submit {
    width: 100%;
    text-align: center; }
    .fag-create .btn_submit button {
      width: auto;
      margin: 15px auto; }

.boxShadow {
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1); }

.mt-15 {
  margin-top: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.bt-30 {
  margin-top: 30x; }

.mb-30 {
  margin-bottom: 30px; }

.pt-15 {
  padding-top: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.w-150 {
  width: 150px;
  display: inline-block !important; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.color-fff {
  color: #fff !important; }

.btn-150 {
  width: 150px;
  margin: 0 auto;
  display: inline-block; }

.ta-center {
  text-align: center; }

.col_action {
  width: 10% !important; }

.mgl-15 {
  margin-left: 15px; }

.mgr-15 {
  margin-right: 15px; }

.dp-none {
  display: none; }

table#example {
  width: 100% !important; }

.width-150 {
  width: 150px !important; }

.fl-right {
  float: right; }
