.pl-10 {
    padding-left: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.creating-cv-step .steps {
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.creating-cv-step .steps ul {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    width: 100%;
}

.creating-cv-step .steps li,
.creating-cv-step .steps li.current {
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    position: relative;
    width: 33.33%;
    padding: 16.5px 37px;
}

.creating-cv-step .steps li.current {
    background-color: #e0ffdd;
}

.creating-cv-step .steps li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 75px;
    background: #e5e5e5;
    top: 0;
    left: 100%;
}

.creating-cv-step .steps li:first-child {
    width: 37.59%;
}

.creating-cv-step .steps li:last-child {
    width: 31.15%;
}

.creating-cv-step .steps li:last-child::after {
    content: none;
}

.creating-cv-step .steps li .current-info {
    display: none;
}

.creating-cv-step .steps li a {
    text-decoration: none;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}

.creating-cv-step .steps li a .title {
    display: flex;
    display: -webkit-flex;
}

.creating-cv-step .steps li a .title .step-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    color: #666;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}

.creating-cv-step .steps li a .step-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.creating-cv-step .steps li.current a .step-icon,
.creating-cv-step .steps li.current a:active .step-icon {
    background: rgba(37, 180, 91, 0.2);
    border: 1px solid #25b45b;
    color: #25b45b;
    line-height: 38px;
}

.creating-cv-step .steps li.done a .step-icon,
.creating-cv-step .steps li.done a:active .step-icon {
    background: #25b45b;
    color: #fff;
}

.creating-cv-step .steps li a .step-text {
    color: #333;
    padding-top: 5px;
    font-size: 20px;
}

@media screen and (max-width: 991px) {
    .creating-cv-step .steps li a .title {
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        align-items: center;
        -o-align-items: center;
        -ms-align-items: center;
        -moz-align-items: center;
        -webkit-align-items: center;
    }
    .creating-cv-step .steps li:first-child,
    .creating-cv-step .steps li:last-child {
        width: 33.33%;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    .creating-cv-step .steps li::after {
        height: 109px;
    }
}
@media screen and (max-width: 767px) {
    .creating-cv-step .steps li::after {
        content: none;
    }
    .creating-cv-step .steps li, 
    .creating-cv-step .steps li.current {
        padding: 16.5px 10px;
        text-align: center;
    }
}


.white-background {
    background-color: #fff;
}

.overflow-auto {
    overflow: auto;
}

.content-cv-design {
    min-width: 500px;
}

#cv-color {
    color: rgba(255,255,255,0);
}

.info-cv-step {
    font-size: 15px;
}

.info-cv-step .form-control {
    height: 40px;
    font-size: 15px;
}

.info-cv-step textarea {
    max-width: 100%;
    min-height: 100px;
}

.info-cv-step .time-to-work {
    display: flex;
    flex-direction: row;
}

#list-foreign-language .clone {
    margin-top: 3px;
    position: relative;
}

#list-foreign-language .clone input {
    padding-right: 30px;
}

#list-foreign-language .clone .remove-icon {
    background: #dc3545;
    width: 20px;
    text-align: center;
    height: 20px;
    line-height: 18px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin-left: 3px;
    margin-top: 10px;
}

#list-foreign-language .display-flex {
    margin-bottom: 10px;
}

#list-foreign-language .display-flex .form-control {
    max-width: 150px;
}

.cloneable-experience.clone {
    position: relative;
}

.cloneable-experience.clone .removable {
    position: absolute;
    top: 25px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #dc3545;
    text-align: center;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}

.cloneable-education.clone {
    position: relative;
}

.cloneable-education.clone .removable {
    position: absolute;
    top: 25px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #dc3545;
    text-align: center;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}

.cloneable-skill.clone {
    position: relative;
}

.cloneable-skill.clone .removable {
    position: absolute;
    top: 25px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #dc3545;
    text-align: center;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}

.label-image-avatar {
    width: 150px;
    height: 150px;
    /*background: rgba(0, 0, 0, 0.8);*/
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #666;
}

.label-image-avatar .fa {
    position: absolute;
    font-size: 20px;
    color: #fff;
    top: 70px;
    top: 65px;
    left: 68px;
    display: none;
}

.label-image-avatar:hover {
    background: rgba(0, 0, 0, 0.6);
}

.label-image-avatar:hover img {
    display: none;
}

.label-image-avatar:hover .fa {
    display: inline-block;
}

.mb-5 {
    margin-bottom: 5px;
}

/* The Modal (background) */
.crop-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.crop-modal-content {
    background-color: #fefefe;
    margin: 30px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
}

.croppie-container {
    height: 300px!important;
    margin-bottom: 50px;
}

.overflow-hidden {
    overflow: hidden;
}

.personal-avatar-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#personal-info .white-background {
    padding: 20px;
    border: 1px solid #eee;
}

.job-control-area-fixed {
    position: fixed;
    left: 91px;
    top: 2px;
    width: 270px;
}

@media(max-width: 767px) {
    .modal-content {
        width: 100%;
    }
}

#personal-info .fstElement {
    display: block;
    font-size: 12px;
    border-radius: 5px;
}

#personal-info .fstElement .fstControls {
    width: 100%;
}

#personal-info .fstResults{
    font-size: 11px;
    max-height: 200px;
}

.display-flex {
    display: flex;
}

.cv-slary-input {
    margin-bottom: 20px;
}

@media(max-width: 767px) {
    .cv-slary-input {
        flex-direction: column;
    }
}

#cv-job-control-area {
    overflow: auto;
    max-height: 100vh;
}