      <!-- jQuery 3 -->
      <!-- <script src="/libs/jquery/dist/jquery.js"></script> -->
	
      <!-- popper -->
      <script src="/libs/popper/dist/popper.min.js"></script>
      
      <!-- Bootstrap 4.0-->
      <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
      
      <!-- Slimscroll -->
      <script src="/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
      
      <!-- FastClick -->
      <script src="/libs/fastclick/lib/fastclick.js"></script>
      
      <!-- webticker -->
      <script src="/libs/Web-Ticker-master/jquery.webticker.min.js"></script>
      
      <!-- Unique_Admin App -->
      <script src="/js/admin/template.js"></script>
      
      <!-- Unique_Admin dashboard demo (This is only for demo purposes) -->
      <script src="/js/admin/pages/dashboard.js"></script>
      <script src="/js/admin/pages/dashboard-chart.js"></script>
      <script src="/js/admin/pages/jquery.toast.js"></script>
      <script src="/js/admin/pages/toastr.js"></script>
      <script src="/js/admin/pages/notification.js"></script>
      <script src="/js/admin/pages/moment.min.js"></script>
      <script src="/js/admin/pages/daterangepicker.js"></script>
      <script src="/js/admin/pages/bootstrap-datepicker.min.js"></script>
      <script src="/js/admin/pages/bootstrap-colorpicker.min.js"></script>
      <script src="/js/admin/pages/bootstrap-timepicker.min.js"></script>
      <!-- <script src="/js/admin/pages/validation.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
      
      <!-- Unique_Admin for demo purposes -->
      <script src="/js/admin/demo.js"></script>
      <script>
      $( document ).ready(function() {
            let height = $('.content-wrapper').height();
           $('.main-sidebar').height(height+100+'px');
      });

      </script>
  </body>
  </html>
  